* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.breadcrumb {
  width: 1600px;
  height: 148px;
  padding: 60px 230px;
  background: rgb(241, 228, 230);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40%;
  margin-bottom: 0;
}
.breadcrumb__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgb(241, 109, 127);
}
.breadcrumb__links {
  display: flex;
}
.breadcrumb__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: rgb(99, 99, 99);
}
.breadcrumb__link:hover {
  color: rgb(241, 109, 127);
}
.breadcrumb__box:last-of-type .breadcrumb__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: rgb(241, 109, 127);
}
.breadcrumb__box:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: rgb(99, 99, 99);
}

.carousel {
  z-index: 0;
}
.carousel .carousel-control-prev .carousel-control-prev-icon {
  background-image: url(../img/banner-slider-left.svg);
}
.carousel .carousel-control-next .carousel-control-next-icon {
  background-image: url(../img/banner-slider-right.svg);
}

.main .banner {
  margin-bottom: 0px;
}
.main .banner button {
  width: 8%;
}

.description-product {
  margin-top: -75px;
  margin-bottom: 128px;
  padding: 65px 0;
  height: 640px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(234, 234, 234);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  z-index: 1;
}
.description-product h6 {
  color: rgb(241, 109, 127);
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  margin-bottom: 12px;
}
.description-product .line-1 {
  border-left: 63px solid rgb(239, 91, 112);
  height: 3px;
}
.description-product h4 {
  margin-top: 12px;
  color: rgb(77, 77, 77);
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 36px;
}
.description-product p {
  width: 555px;
  color: rgb(99, 99, 99);
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  margin-bottom: 32px;
}
.description-product .price {
  color: rgb(239, 91, 112);
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 52px;
}
.description-product .line-2 {
  border-left: 642px solid rgb(239, 91, 112);
  height: 1px;
}
.description-product .sort {
  margin-top: 52px;
  margin-bottom: 36px;
  width: 560px;
  display: flex;
  justify-content: center;
  gap: 22px;
}
.description-product .sort .text {
  display: flex;
  gap: 9px;
}
.description-product .sort .text span {
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}
.description-product .sort .text span .text-color {
  width: 109px;
}
.description-product .sort .text span .text-size {
  width: 90px;
}
.description-product .sort .text span .text-quantity {
  width: 79px;
}
.description-product .sort .text button {
  height: 20px;
}
.description-product .cart {
  width: 212px;
  height: 48px;
  border: 1px solid rgb(255, 106, 106);
  padding: 15px 24px;
  display: flex;
  gap: 23px;
}
.description-product .cart h5 {
  color: rgb(242, 99, 118);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.products {
  padding: 0;
}
.products .nowrap {
  flex-wrap: nowrap;
  margin-bottom: 128px;
}

@media (min-width: 768px) and (max-width: 1140px) {
  .header {
    gap: 53%;
  }
  .breadcrumb {
    width: 100%;
    padding: 60px 16px;
    justify-content: space-around;
  }
  .main .banner {
    width: 100%;
  }
  .main .banner-product {
    width: 100%;
  }
  .main .banner-product .carousel-inner {
    max-width: 100%;
  }
  .main .banner-product .carousel-inner img {
    max-width: 150%;
    margin: -30px -200px;
    overflow: hidden;
  }
  .description-product {
    margin-top: 0;
    max-width: 100%;
  }
  .products .card-hide {
    display: none;
  }
  .promotion .fon {
    background-size: cover;
    gap: 48px;
  }
}/*# sourceMappingURL=style-product.css.map */