@import "../vars";

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

a {
	text-decoration: none;
}

.breadcrumb {
	width: $width-8;
	height: 148px;
	padding: 60px 230px;
	background: $background-3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40%;
	margin-bottom: 0;

	&__heading {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		color: $color-2;
	}

	&__links {
		display: flex;
	}

	&__link {
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		text-decoration: none;
		color: $color-9;
		&:hover {
			color: $color-2;
		}
	}

	&__box:last-of-type .breadcrumb__link {
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		color: $color-2;
	}

	&__box:not(:last-child)::after {
		content: "/";
		padding-left: 8px;
		padding-right: 8px;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		text-decoration: none;
		color: $color-9;
	}
}

.carousel {
	z-index: 0;

	.carousel-control-prev .carousel-control-prev-icon {
		background-image: url(../img/banner-slider-left.svg);
	}

	.carousel-control-next .carousel-control-next-icon {
		background-image: url(../img/banner-slider-right.svg);
	}
}

.main .banner {
	margin-bottom: 0px;

	button {
		width: $carousel-control-width;
	}
}

.description-product {
	margin-top: -75px;
	margin-bottom: 128px;
	padding: 65px 0;
	height: 640px;
	background-color: $background-1;
	border: $border-7;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	z-index: 1;

	h6 {
		color: $color-2;
		font-size: 14px;
		font-weight: 300;
		line-height: 17px;
		margin-bottom: 12px;
	}

	.line-1 {
		border-left: $border-4;
		height: 3px;
	}

	h4 {
		margin-top: 12px;
		color: $color-10;
		font-size: 18px;
		font-weight: 300;
		line-height: 22px;
		margin-bottom: 36px;
	}

	p {
		width: 555px;
		color: $color-9;
		font-size: 14px;
		font-weight: 300;
		line-height: 17px;
		text-align: center;
		margin-bottom: 32px;
	}

	.price {
		color: $color-11;
		font-size: 24px;
		font-weight: 300;
		line-height: 29px;
		margin-bottom: 52px;
	}

	.line-2 {
		border-left: $border-5;
		height: 1px;
	}

	.sort {
		margin-top: 52px;
		margin-bottom: 36px;
		width: 560px;
		display: flex;
		justify-content: center;
		gap: 22px;

		.text {
			display: flex;
			gap: 9px;

			span {
				color: $color-6;
				font-size: 14px;
				font-weight: 400;
				line-height: 17px;
				text-align: center;

				.text-color {
					width: $width-17;
				}
				.text-size {
					width: $width-18;
				}
				.text-quantity {
					width: $width-19;
				}
			}

			button {
				height: 20px;
			}
		}
	}

	.cart {
		width: $width-20;
		height: 48px;
		border: $border-6;
		padding: 15px 24px;
		display: flex;
		gap: 23px;

		h5 {
			color: $color-8;
			font-size: 16px;
			font-weight: 400;
			line-height: 19px;
		}
	}
}

.products {
	padding: 0;

	.nowrap {
		flex-wrap: nowrap;
		margin-bottom: 128px;
	}
}

@media (min-width: 768px) and (max-width: 1140px) {
	.header {
		gap: 53%;
	}

	.breadcrumb {
		width: 100%;
		padding: 60px 16px;
		justify-content: space-around;
	}

	.main .banner {
		width: 100%;
		&-product {
			width: 100%;

			.carousel-inner {
				max-width: 100%;

				img {
					max-width: 150%;
					margin: -30px -200px;
					overflow: hidden;
				}
			}
		}
	}

	.description-product {
		margin-top: 0;
		max-width: 100%;
	}

	.products .card-hide {
		display: none;
	}

	.promotion .fon {
		background-size: cover;
		gap: 48px;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.breadcrumb {
		width: 100%;
		padding: 24px 0 46px;
		flex-direction: column;
		gap: 20%;
	}

	.banner {
		&-product {
			color: $color-3;

			.carousel-inner {
				background-color: rgb(247, 247, 247);

				img {
					padding: 85px 0;
					max-width: 250%;
					margin: 0 -280px;
					overflow: hidden;
				}
			}
		}
	}

	.description-product {
		margin: 0;
		padding: 50px 0 50px 0;
		max-width: 100%;

		p {
			width: 326px;
			br {
				display: none;
			}
		}

		.price {
			margin-bottom: 32px;
		}

		.line-2 {
			border-left: $border-11;
			height: 1px;
		}

		.sort {
			width: 100%;
			margin: 45px 0 60px;

			.text {
				align-items: center;

				span {
					font-size: 10px;
					line-height: 12px;
					text-align: center;

					.text-color {
						width: $width-17;
					}
					.text-size {
						width: $width-18;
					}
					.text-quantity {
						width: $width-19;
					}
				}

				button {
					height: 20px;
				}
			}
		}
	}

	.products {
		.nowrap {
			flex-wrap: wrap;
			gap: 0;
			margin: 64px 0;
		}
		.card-hide-mob {
			display: none;
		}
	}
}
