@import 'vars';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.breadcrumb {
  width: $width-8;
  height: 148px;
  padding: 60px 230px;
  background: $background-8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 737px;
  margin-bottom: 0;

  .text-1 {
    color: $color-2;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }

  .text-2 {
    color: $color-9;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
  }

  .color-text-1 {
    color: $color-2;
  }
}

.carousel {
  z-index: 0;

  .carousel-control-prev .carousel-control-prev-icon {
    background-image: url(./img/banner-slider-left.svg);
  }

  .carousel-control-next .carousel-control-next-icon {
    background-image: url(./img/banner-slider-right.svg);
  }

}

.main .banner {
  margin-bottom: 0px;

  button {
    width: $carousel-control-width;
  }
}

.description-product {
  margin-top: -75px;
  margin-bottom: 63px;
  padding: 65px 0;
  height: 640px;
  background-color: $background-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  z-index: 1;

  h6 {
    color: $color-2;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-bottom: 12px;
  }

  .line-1 {
    border-left: $border-4;
    height: 3px;
  }

  h4 {
    margin-top: 12px;
    color: $color-10;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 36px;
  }

  p {
    width: 555px;
    color: $color-9;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
    margin-bottom: 32px;
  }

  .price {
    color: $color-11;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin-bottom: 52px;
  }

  .line-2 {
    border-left: $border-5;
    height: 1px;
  }

  .sort {
    margin-top: 52px;
    margin-bottom: 36px;
    width: 560px;
    display: flex;
    justify-content: center;
    gap: 22px;

    .text {
      display: flex;
      gap: 9px;

      span {
        color: $color-6;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: center;

        .text-color {
          width: $width-17;
        }
        .text-size {
          width: $width-18;
        }
        .text-quantity {
          width: $width-19;
        }
      }

      button {
        height: 20px;
      }
    }
  }

  .cart {
    width: $width-20;
    height: 48px;
    border: $border-6;
    padding: 15px 24px;
    display: flex;
    gap: 23px;

    h5 {
      color: $color-8;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
    }
  }
}

.products .nowrap {
  flex-wrap: nowrap;
  margin-bottom: 128px;
}