@import "../vars";

summary {
	display: block;
}
summary::-webkit-details-marker {
	display: none;
}

.header {
	gap: 58%;
	position: relative;

	&__menus {
		.header__menu {
			#check {
				position: absolute;
				left: -99999px;
				visibility: hidden;
			}

			label {
				cursor: pointer;
			}

			.menu {
				opacity: 0;
			}

			#check:checked ~ .menu {
				opacity: 1;
				z-index: 2;
			}

			.menu {
				width: $width-2;
				position: absolute;
				top: 75px;
				right: 0;
				padding: 32px;
				box-sizing: border-box;
				background: $background-1;
				box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

				&__heading {
					color: $color-5;
					font-size: 14px;
					font-weight: 700;
					line-height: 17px;
					margin-bottom: 4px;
				}

				&__subheading {
					margin-top: 20px;
					color: $color-2;
					font-size: 14px;
					font-weight: 400;
					line-height: 17px;
					margin-bottom: 12px;
				}

				&__ul {
					display: flex;
					flex-direction: column;
					gap: 11px;
					list-style-type: none;
					padding-left: 20px;
				}

				&__link {
					color: $color-6;
					font-size: 14px;
					font-weight: 400;
					line-height: 17px;
					&:hover {
						color: $color-2;
					}
				}
			}
		}
	}
}

.center {
	padding-left: calc(50% - 570px);
	padding-right: calc(50% - 570px);
}

.breadcrumb {
	background: $background-3;
	height: 148px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40%;

	&__heading {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		color: $color-2;
	}

	&__links {
		display: flex;
	}

	&__link {
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		text-decoration: none;
		color: $color-9;
		&:hover {
			color: $color-2;
		}
	}

	&__box:last-of-type .breadcrumb__link {
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		color: $color-2;
	}

	&__box:not(:last-child)::after {
		content: "/";
		padding-left: 8px;
		padding-right: 8px;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		text-decoration: none;
		color: $color-9;
	}
}

.filtering {
	padding: 0;
	display: flex;
	align-items: center;
	gap: 390px;

	.filter-sort {
		top: -30px;
		position: relative;
	}
	.filter {
		padding: 13px 0;
		box-sizing: border-box;
		width: $width-3;
		height: 531px;
		position: absolute;
		&[open] {
			padding: 13px 16px;
			background: $background-1;
			box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
			z-index: 1;
		}
		&[open] .filter__heading {
			top: 39px;
			color: $color-11;
		}
		&[open] path {
			fill: $color-11;
		}
		&__summary {
			display: flex;
			align-items: center;
			gap: 11px;
		}
		&__heading {
			color: $color-5;
			font-size: 14px;
			font-weight: 600;
			line-height: 17px;
		}
		&__item {
			margin-top: 16px;
		}
		&__head {
			color: $color-6;
			font-size: 14px;
			font-weight: 400;
			line-height: 17px;
			padding: 8px 11px 11px 11px;
			border-bottom: 1px solid rgb(235, 235, 235);
			border-left: 5px solid rgb(239, 91, 112);
		}
		&__link-box {
			display: flex;
			flex-direction: column;
			gap: 11px;
			padding: 24px 16px 8px;
		}
		&__link {
			color: $color-6;
			font-size: 14px;
			font-weight: 400;
			line-height: 17px;
			&:hover {
				color: $color-11;
			}
		}
		&__item[open] .filter__head {
			color: $color-11;
		}
	}

	.sorting {
		margin-top: 50px;
		margin-bottom: 65px;
		display: flex;
		gap: 45px;

		.details {
			display: flex;
			gap: 10px;
			position: relative;
			z-index: 1;

			summary {
				color: $color-6;
				font-size: 14px;
				font-weight: 400;
				line-height: 17px;
			}

			&__box {
				padding: -12px;
				box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
				background: $background-1;
				padding: 7px 9px 11px;
				box-sizing: border-box;
				width: $width-19;
				display: flex;
				flex-direction: column;
				gap: 6px;
				left: -9px;
				top: 22px;
				position: absolute;
			}
			summary {
				display: block;
			}
			summary::-webkit-details-marker {
				display: none;
			}
		}
	}
}

.products {
	padding: 0;

	.nowrap {
		flex-wrap: wrap;
		margin-bottom: 0;
	}

	&__cards .card .img-man-1 {
		background-image: url(../img/man-1.webp);
	}

	&__cards .card .img-man-2 {
		background-image: url(../img/man-2.webp);
	}

	&__cards .card .img-man-3 {
		background-image: url(../img/man-3.webp);
	}

	&__cards .card .img-man-4 {
		background-image: url(../img/man-4.webp);
	}

	&__cards .card .img-man-5 {
		background-image: url(../img/man-5.webp);
	}

	&__cards .card .img-man-6 {
		background-image: url(../img/man-6.webp);
	}

	&__cards .card .img-man-7 {
		background-image: url(../img/man-7.webp);
	}

	&__cards .card .img-man-8 {
		background-image: url(../img/man-8.webp);
	}

	&__cards .card .img-man-9 {
		background-image: url(../img/man-9.webp);
	}
}

.pagination {
	margin-top: 50px;
	margin-bottom: 97px;
	width: 284px;
	height: 44px;
	background: $background-1;
	border: $border-7;
	display: flex;
	justify-content: center;

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 18px;
	}
	&__numers {
		display: flex;
		align-items: center;

		.text-truncate {
			max-width: 180px;
		}

		a {
			color: rgb(196, 196, 196);
		}

		a:hover {
			color: $color-2;
		}
	}
	svg:hover path {
		fill: $color-2;
	}
}

@media (min-width: 768px) and (max-width: 1140px) {
	.header {
		gap: 53%;
	}
	.breadcrumb {
		justify-content: center;
	}
	.filtering {
		justify-content: center;
		gap: 465px;
		height: 81px;

		.sorting {
			gap: 30px;
		}
	}
}
