@import 'vars';

summary {
  display: block;
}
summary::-webkit-details-marker {
  display: none;
}

.header {
  position: relative;

  &__menus {
    .header__menu {

      #check {
        position: absolute;
        left: -99999px;
        visibility: hidden;
      }

      .menu {
        opacity: 0;
      }

      #check:checked ~ .menu {
        opacity: 1;
        z-index: 2;
      }

      .menu {
        width: $width-2;
        position: absolute;
        top: 75px;
        right: 0;
        padding: 32px;
        box-sizing: border-box;
        background: $background-1;
        box-shadow: 6px 4px 35px rgba(0,0,0,0.21);

        &__heading {
          color: $color-5;
          font-size: 14px;
          font-weight: 700;
          line-height: 17px;
          margin-bottom: 4px;
        }

        &__subheading {
          margin-top: 20px;
          color: $color-2;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          margin-bottom: 12px;
        }

        &__ul {
          display: flex;
          flex-direction: column;
          gap: 11px;
          list-style-type: none;
          padding-left: 20px;
        }

        &__link {
          color: $color-6;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          &:hover {
            color: $color-2;
          }
        }
      }
    }
  }
}

.filtering {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 390px;

  .filter-sort {
    top: -30px;
    position: relative;
  }
  .filter {
    padding: 13px 0;
    box-sizing: border-box;
    width: $width-3;
    height: 531px;
    position: absolute;
    &[open] {
      padding: 13px 16px;
      background: $background-1;
      box-shadow: 6px 4px 35px rgba(0,0,0,0.21);
      z-index: 1;
    }
    &[open] .filter__heading {
      top: 39px;
      color: $color-8;
    }
    &[open] path {
      fill: $color-8;
    }
    &__summary {
      display: flex;
      align-items: center;
      gap: 11px;
    }
    &__heading {
      color: $color-1;
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
    }
    &__item {
      margin-top: 16px;
    }
    &__head {
      color: $color-6;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      padding: 8px 11px 11px 11px;
      border-bottom: $border-2;
      border-left: 5px solid rgb(239, 91, 112);
    }
    &__link-box {
      display: flex;
      flex-direction: column;
      gap: 11px;
      padding: 24px 16px 8px;
    }
    &__link {
      color: $color-6;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      &:hover {
        color: $color-2;
      }
    }
    &__item[open] .filter__head {
      color: $color-2;
    }
  }

  .sorting {
    margin-top: 50px;
    margin-bottom: 65px;
    display: flex;
    gap: 45px;

    .details {
      display: flex;
      gap: 10px;
      position: relative;
      z-index: 1;

      summary {
        color: $color-6;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
      }

      &__box {
        padding: -12px;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        background: $background-1;
        padding: 7px 9px 11px;
        box-sizing: border-box;
        width: 79px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        left: -9px;
        top: 22px;
        position: absolute;
      }
      summary {
        display: block;
      }
      summary::-webkit-details-marker {
        display: none;
      }
    }
  }
}

.products {
  padding: 0;

  .nowrap {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  &__cards .card .img-man-1 {
    background-image: url(./img/man-1.webp);
  }

  &__cards .card .img-man-2 {
    background-image: url(./img/man-2.webp);
  }

  &__cards .card .img-man-3 {
    background-image: url(./img/man-3.webp);
  }

  &__cards .card .img-man-4 {
    background-image: url(./img/man-4.webp);
  }

  &__cards .card .img-man-5 {
    background-image: url(./img/man-5.webp);
  }

  &__cards .card .img-man-6 {
    background-image: url(./img/man-6.webp);
  }

  &__cards .card .img-man-7 {
    background-image: url(./img/man-7.webp);
  }

  &__cards .card .img-man-8 {
    background-image: url(./img/man-8.webp);
  }

  &__cards .card .img-man-9 {
    background-image: url(./img/man-9.webp);
  }
}

.pagination {
  margin-top: 50px;
  margin-bottom: 97px;
  width: 284px;
  height: 44px;
  background: $background-1;
  border: $border-2;
  display: flex;
  justify-content: center;

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
  }
  &__numers {
    display: flex;
    align-items: center;

    .text-truncate {
      max-width: 180px;
    }

    a {
      color: $color-3;
    }

    a:hover {
      color: $color-2;
    }
  }
  svg:hover path {
    fill: $color-2;
  }
}