@import "../vars";

summary::webkit-details-marker {
	display: none;
}

.registration {
	display: flex;
	justify-content: center;
	gap: 128px;
	padding-top: 64px;
	padding-bottom: 96px;

	&__inputs {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__title {
		color: $color-1;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}

	&__input {
		width: 360px;
		padding: 13px 0 16px 17px;
		border: $border-8;
	}

	&__input::placeholder {
		color: $color-4;
	}

	&__checkboxes {
		margin-top: 31px;
		margin-bottom: 33px;
		display: flex;
		gap: 20px;
		color: $color-5;
		font-size: 11px;
		font-weight: 300;
		line-height: 13px;
		user-select: none;
	}

	&__text {
		margin-top: 15px;
		margin-bottom: 39px;
		color: $color-12;
		font-size: 13px;
		font-weight: 300;
		line-height: 16px;
	}

	&__button {
		padding: 16px 0;
		width: 167px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		color: $color-3;
		background-color: $background-5;
		border: $border-3;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		&:hover {
			box-sizing: border-box;
			color: $color-2;
			background-color: $background-7;
			border: $border-8;
			& path {
				fill: $color-2;
				box-sizing: border-box;
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 20px;
		color: $color-5;
		font-size: 24px;
		font-weight: 300;
		line-height: 29px;
		&-title {
			font-size: 24px;
			font-weight: 300;
			line-height: 29px;
			color: $color-5;
		}
	}

	&__column {
		list-style-type: none;
		padding: 0;
	}

	&__li {
		padding-bottom: 16px;
		display: flex;
		gap: 23px;
	}

	&__li::before {
		content: url(../img/Vector.svg);
	}
}

@media (min-width: 768px) and (max-width: 1140px) {
	.breadcrumb {
		display: flex;
		justify-content: space-around;
		padding: 60px 0;
	}

	.registration {
		max-width: 96%;
		gap: 22px;
		padding-top: 40px;

		&__data {
			width: 360px;
		}

		&__info {
			width: 354px;
			font-size: 16px;
			font-weight: 300;
			line-height: 19px;
			&-title {
				font-size: 16px;
				font-weight: 300;
				line-height: 19px;
			}
		}

		&__column {
			padding: 0;
		}
	}

	.promotion .fon {
		background-size: cover;
		gap: 48px;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.registration {
		flex-direction: column;
		max-width: 96%;
		gap: 40px;
		padding-top: 40px;

		&__data {
			width: 320px;
		}

		&__input {
			width: 310px;
		}

		&__info {
			width: 320px;
			font-size: 16px;
			font-weight: 300;
			line-height: 19px;
			&-title {
				font-size: 16px;
				font-weight: 300;
				line-height: 19px;
			}
		}

		&__column {
			padding: 0;
		}

		&__li {
			gap: 15px;
		}
	}
}
